.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1100px;
  height: 293px;
  padding: 92px 24px 96px 24px;
  background-color: white;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  margin: 44px 0 39px 26px;
}

.header__links-list {
  display: flex;
  gap: 34px;
}

.header__links-list-item {
  list-style: circle;
  white-space: nowrap;
}

.header__links-list-item_no-bullet {
  list-style: none;
  white-space: nowrap;
}

.header__logo {
  margin-left: 42px;
  width: 137px;
  height: 105px;
}

.address {
  width: 240px;
  height: 100px;
  white-space: nowrap;
  list-style: none;
  margin: 7px 0 0 53px;
  line-height: 1.32;
  letter-spacing: 0.1px;
}

.cover {
  margin: 0;
  padding: 0;
  position: relative;
  width: 1100px;
  height: 757px;
  color: #000000;
}

.cover__image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../images/cover.jpg) no-repeat center / cover;
}

.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 60%;
}

.cover__title {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 165px 50px 237px 50px;
  width: 1000px;
  gap: 20px;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.3em;
  color: white;
}
.aligned-text {
  text-align: left;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.3em;
  margin-bottom: 20px;
}

.aligned-text_right {
  text-align: right;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.6em;
}

.letter-spacing_60 {
  letter-spacing: 0.6em;
}

.letter-spacing_30 {
  letter-spacing: 0.3em;
}

.letter-spacing_0 {
  letter-spacing: 0;
}

.cover__description {
  width: 637px;
  height: 28px;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18.5px;
  text-align: left;
  color: white;
  left: 78px;
  bottom: 62px;
}

.bet-button {
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  background: none;
  color: white;
  position: absolute;
  width: 256px;
  height: 51px;
  z-index: 1;
  align-content: center;
  right: 50px;
  bottom: 50px;
  outline: none;
  border: 1px solid #fff;
}

.bet-button-link {
  text-decoration: none;
  color: #fff;
}

.section__lots {
  width: 1100px;
  height: 839px;
}

.section__lots__heading {
  margin-top: 179px;
  margin-left: 64px;
  padding-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
}

.lots__card-list {
  display: grid;
  width: 1100px;
  min-height: 563px;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 0 24px 0 24px;
  margin-bottom: 30px;
  list-style: none;
}

.card-link {
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
}

.card_type_film {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../images/card-lot-01.jpg) no-repeat center / cover;
}

.card_type_book {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../images/card-lot-02.jpg) no-repeat center / cover;
}

.card_type_picture {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../images/card-lot-03.jpg) no-repeat center / cover;
}

.card__text {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px 49px 40px;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-transform: uppercase;
}

.card__description {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.showmore {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  margin-left: 64px;
}

.about {
  display: flex;
  flex-direction: row;
  width: 1100px;
  height: 595px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  position: relative;
  margin: 35px 71px 320px 71px;
}

.black-circle {
  position: absolute;
  z-index: -1;
  width: 240px;
  height: 240px;
  background: #000000;
  border-radius: 50%;
}

.logo-white {
  position: absolute;
  width: 150px;
  height: 120px;
  z-index: 0;
}

.about__text {
  width: 718px;
  height: 100%;
  padding-right: 24px;
}

.about__title {
  margin-top: 135px;
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
}

.about__description-top {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.about__description-bottom {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.letter-spacing_-1 {
  letter-spacing: -0.01em;
}

.letter-spacing_2 {
  letter-spacing: 0.02em;
}

.letter-spacing_3 {
  letter-spacing: 0.03em;
}

.letter-spacing_4 {
  letter-spacing: 0.04em;
}

.margin-bottom {
  margin-bottom: 24px;
}

.footer {
  font-size: 18px;
  width: 1100px;
  height: 366px;
  padding: 180px 50px 88px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.footer__address {
  line-height: 24.3px;
  letter-spacing: 0.01em;
  list-style: none;
}

.footer__menu {
  line-height: 21.13px;
  text-align: center;
  padding-left: 33px;
}

.footer__links-list {
  list-style: none;
}

.footer__media {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
}

.youtube-link {
  width: 48px;
  height: 48px;
}

.vk-link {
  width: 48px;
  height: 48px;
}

.pinterest-link {
  width: 48px;
  height: 48px;
}
